$bgColor: #f0e7db;
$cardColor: #f5f0e8;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
}

#root {
	background-color: #f0e7db;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $bgColor;
	margin: 0 auto;
	min-height: 100vh;

	main {
		width: 51rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
	}
}

@media (max-width: 850px) {
	.container {
		width: 100vw;
	}
	.navbar,
	main,
	.pokemonContainer {
		width: 100% !important;
		padding: 5px 20px;
	}
	.card {
		width: 12rem;
		h2 {
			font-size: 1.3rem;
		}
		p {
			font-size: 0.9rem;
		}
	}
}

@media (max-width: 712px) {
}
