@import '../../styles/globalStyles.scss';

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 15rem;
	height: 20rem;

	background-color: $cardColor;
	margin-top: 1.5rem;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	.textContainer {
		display: flex;
		flex-direction: column;

		h2 {
			margin-bottom: 20px;
		}
	}
}
